*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


@import url(Raleway/static/Raleway-Medium.ttf);

body {
    font-family: 'Raleway-Medium', sans-serif;
    margin:15px
}

.container-grille {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:  1fr 1fr 4fr 1fr ;
    grid-gap:20px;
    grid-template-areas: 
    "header header header nav"
    "main main main aside"
    "section section section section"
    "footer footer footer footer"
    ;

}

/*-----------------------Header part-----------------------*/

header {
    grid-column: span 1;
    padding: 30px;
    font-size: 15px;
    background-color: #17BEBB;
    color: #fff;
    grid-area: header;
}

nav {
    background-color: #EF3E36;
    grid-area: nav;
}

ul {
    margin: 10px;
    display: flex;
}

li {
    margin: 5px;
}

.logo {
    background-color:#DEEBFF ;
    border-radius: 50%;
    margin-right: 10px;
    height: 30px;
    width: 30px;
    position: relative;
    bottom: 5px;
    padding:2px;
}

.liste-sidenav {
    list-style-type: none;
    max-height: 650px;
    display: flex;
    justify-content: space-evenly;

}

.liste-sidenav li {
    height: 40px;
    display: flex;
}

.liste-sidenav li a {
    font-size: 18px;
    color:#0065FC ;
}

/*-----------------------Main part-----------------------*/

main {
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 20px;
    grid-area: main;
}

h1 {
    margin-bottom: 15px;
}

/*----------------------------------Grid main----------------------------------*/
/* -------------------fait en grid pour tester 
.galerie {
    margin-left: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: minmax(300px, auto);
    flex-wrap: wrap;
    width: 60%;
    grid-gap:30px;
}
----------------------*/
.galerie {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.galerie-item {
    margin: 40px;
    max-width: 300px;
    min-width: 200px;
    max-height: 200px;
}

.galerie-item img {
    object-fit: cover;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    height: 90%;
    width: 100%;
}

.text-box {
    
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 15px;
    text-align: ;
    background-color: white;
}
/*-----------------------Aside part-----------------------*/

aside {
    padding: 20px;
    background-color: #edb88b;
    border-radius: 20px;
    font-size: 22px;
    color: #333;
    grid-area: aside;
}
aside p {
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/*-----------------------Section part-----------------------*/

section {
    padding: 20px;
    background-color: cadetblue;
    grid-column: span 2;
    align-items: center;
    grid-area: section;
}

/*-----------------------Footer part-----------------------*/

footer {
    grid-column: span 2;
    padding: 30px;
    text-align: center;
    font-size: 20px;
    background-color: grey;
    color: #fff;
    grid-area: footer;
}

/*-----------------------Media Queries 1126px-----------------------*/

@media screen and (max-width: 1220px) {

    body {
        margin:0px
    }

    main, aside {
        border-radius: 0px;
    }
    .container-grille {
        grid-template-rows: 1fr 1fr 2fr 2fr 2fr 1fr;
        grid-template-columns: 1fr ;
        grid-template-areas: 
        "nav"
        "header"
        "aside"
        "main"
        "section"
        "footer"
        ;
    }
/*----------------------Main media queries---------------------*/

/* ---------------------Fait en grid pour tester
    .galerie-item img {
        object-fit: cover;
        width: 100%;
        height: 65%;
    }
    .text-box {
        
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        padding: 5px;
        text-align: center ;
        background-color: white;
    }
    
    .galerie-item {
        min-width: 500px;
        max-height: 200px;
    }
    
    .galerie {
        margin: auto;
        grid-gap:10px;
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: auto;
    }
    .galerie {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}
-----------------------------------------*/
.galerie {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.galerie-item {
    margin: 50px;
    max-width: 100%;
    max-height: 200px;
}

.galerie-item img {
    object-fit: cover;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    height: 90%;
    width: 100%;
}

.text-box {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    max-height: 70px;
    text-align: center;
    background-color: white;
}
/*--------------------------Aside media queries------------------------*/

    .liste-sidenav {
        flex-direction: row;
        justify-content: center;
    }
    
    .liste-sidenav li {
        margin: 0 10px;
    }
    main  {
        min-height: auto;
    }
    aside p {
        height: auto;
    }

    footer section {
        grid-column: 1fr;
    }
}

